# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml
private.properties
private.xml

# Class Files
*.class

# Package Files
*.jar
*.war
*.ear

# Log files
*.log

# Maven specific
target/                     # Directorio de salida de compilación y empaquetado
pom.xml.tag                 # Archivos temporales generados durante releases
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties          # Propiedades de release
dependency-reduced-pom.xml  # Generado por algunos plugins
buildNumber.properties      # Propiedades de número de build
.mvn/timing.properties      # Propiedades de tiempo